node_modules/
**/.gradle/
**/build/
**/build-manual/
**/.buildResult/
**/local.properties
data/*.db
.env
*.log
data/
user_data/
coverage/
.DS_Store
.claude/
*.patch
dist/
dist-*/
release/
.vscode
transcode-cache/
tmp/
outputs/
supabase/.temp/
*.exe
*.apk
*.wgt
*.zip
*.asar
*.dll
*.pak
*.bin
*.dat

__pycache__/
